html{}
.header{
	position: fixed;
   height: 5vh;
   left: 0;
  bottom: 0;
  width: 100%;
  background-color: #292b2c;
  color: white;
  text-align: center;
}
body{
	padding-top: 60px;
	
	background-color: #292b2c;
}
.footer {
  position: fixed;
  height: 5vh;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #292b2c;
  color: white;
  text-align: center;
}
.navbar-x{
	padding-top: 50px;
	padding-left: 20px;
}
 .jumbotron {
        padding-top: 5vh !important;
  		padding-bottom: 5vh !important;
}